@using Kendo.Mvc.UI;
@using Store.ViewModel;

@{
    ViewBag.Title = "Группа товара";
}
<div class="four"><h1>Группы товаров</h1></div>
@(Html.Kendo().Grid<GroupViewModel>()
     .Name("Groups")
     .Columns(c =>
     {

         c.Bound(o => o.Name).Title("Наименование").HeaderHtmlAttributes(new { title = "Наименование" });
         c.Command(command => { command.Edit().Text("Редактировать"); command.Destroy().Text("Удалить"); });//.Width(240);
     })
     .ToolBar(t => t.Create())
     .Editable(editable => editable.Mode(GridEditMode.InLine))
     .Reorderable(reorderable => reorderable.Columns(true))
     .DataSource(ds => ds
         .Ajax()
         .ServerOperation(false)
         .Read(read => read.Action("GetAllGroups", "Group"))
         .Create(create => create.Action("AddGroup", "Group"))
         .Update(update => update.Action("UpdateGroup", "Group").Type(HttpVerbs.Post))
         .Destroy(update => update.Action("DeleteGroup", "Group").Type(HttpVerbs.Post))
         .Model(model =>
         {
             model.Id(x => x.Id);
         })
         .Events(events => events.Sync("KendoGridRefresh"))
         )
     .Filterable()
     .Sortable()
     .Pageable(pageable => pageable
                        .ButtonCount(5).PageSizes(new int[] { 5, 10, 20, 50, 100 })
                        .Refresh(true)
                        .PageSizes(true)
                        .ButtonCount(5)
                        )
     .Scrollable(scrollable => scrollable.Height("auto"))
     .Resizable(resizable => resizable.Columns(true))
)

<script>
    function KendoGridRefresh() {
        var grid = $('#Groups').data('kendoGrid');
        grid.dataSource.read();
    }
</script>